* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


html {
    font: size 62.5%;

}

.title {
    box-sizing: border-box;
    text-align: center;
    margin-top: 3rem;
}

.title h1 {
    font-size: 3rem;
}

.body {
    background-color: #f5ee31;
    width: 30rem;
    height: 40rem;
    border: 0.5rem solid black;
    position: relative;
    margin: 5rem auto;
    /* si algo se sale de la caja no lo va a mostrar */
    overflow: hidden;
}

.ojos {
    /* border: 0.2rem solid rgb(182, 65, 81); */
    position: absolute;
    left: 5.4rem;
    top: 4rem;
    width: 21rem;
    height: 4rem;


}

.ojo {
    background-color: #fff;
    position: relative;
    border: 0.5rem solid black;
    width: 10rem;
    height: 10rem;
    margin-right: -1.7rem;
    display: inline-block;
    border-radius: 50%;

}

.ojo_externo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    background-color: #00aeef;
    border: 0.3rem solid #000;
    top: 2rem;
    left: 2.3rem;
}

.ojo_interno {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    background-color: #000;
    border: 0.3rem solid #000;
    top: 1rem;
    left: 1rem;
}

.pestana {
    width: 1.5rem;
    height: 0.5rem;
    background-color: #000;
    display: inline-block;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

.pestanas {
    position: relative;
    bottom: 2rem;
}

.pestana.uno {

    position: relative;
    top: 0.9rem;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 1.2rem;
}

/* pestanas de la mitad */
.pestana.dos {
    position: relative;
    left: 2.5rem;
    top: 0.2rem;
}

.pestana.tres {

    position: relative;
    left: 3.6rem;
    top: 1.2rem;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.nariz {
    width: 2.5rem;
    height: 4.5rem;
    background-color: #f5ee31;
    position: absolute;
    top: 10.6rem;
    left: 13.2rem;
    border: 0.5rem solid #000;
    border-bottom: 0.5rem solid transparent;
    border-radius: 42.5%;
}

.boca {
    width: 22rem;
    height: 9rem;
    top: 12rem;
    left: 3.3rem;
    border-radius: 60%;
    position: absolute;
    /* aca creo un ovalo y luego pinto solo el borde de abajo */
    background-color: transparent;
    border-bottom: 0.6rem solid black;
}


.mejilla {
    width: 3rem;
    height: 2.2rem;
    background-color: transparent;
    /* border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%; */
    border-radius: 50% 50% 20% 20%;
    border: 0.25rem solid rgb(214, 134, 14);
    border-bottom: transparent;
    position: absolute;
    margin-top: 3.3rem;
}

.mejilla.primera {
    margin-left: -1.3rem;

}

.mejilla.segunda {
    margin-left: 20.3rem;

}

.dientes {
    position: relative;
    height: 4.4rem;
    top: 20.7rem;
    /* border: 0.1rem solid #000; */
    display: flex;
    justify-content: center;
}

.diente {
    height: 2.3rem;
    width: 2.4rem;
    background-color: white;
    position: relative;
    border: 0.35rem solid black;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.manchas {
    height: 3rem;
    width: 3rem;
    background-color: rgb(184, 147, 80);
    border-radius: 50%;
}

.manchas.arriba {
    margin-top: -4.2rem;
}

.manchas.abajo {
    margin-top: 20.5rem;
    margin-left: 2rem;
    height: 4rem;
    width: 4rem;
}



.camisa {
    width: 100%;
    height: 5rem;
    border: 0.4rem solid black;
    margin-top: 26rem;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;

}


.cuello {
    width: 5rem;
    height: 3rem;
    border: 0.4rem solid black;
    position: absolute;
    background-color: whitesmoke;
    overflow: hidden;
    margin-top: -1.6rem;
    /* -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg); */


}

.cuello.primero {
    margin-left: 6rem;
    transform: rotate(30deg);

}

.cuello.segundo {
    margin-left: 18rem;
    transform: rotate(-30deg);
}


.pantalon {
    width: 100%;
    height: 5rem;
    border-top: 0.4rem solid black;
    background-color: rgb(88, 54, 3);
    display: flex;
    gap: 2.9rem;
    justify-content: center;
}

.cuello_corbata {
    width: 4.2rem;
    height: 4.2rem;
    background-color: #f00200;
    border: 0.4rem solid black;
    position: absolute;
    margin-left: 12.4rem;
    bottom: 2.6rem;
    transform: rotate(45deg);
}

.broches {

    width: 3.7rem;
    height: 1.6rem;
    background-color: black;
    border: 0.4 solid black;
    margin-top: 1.7rem;
}

.corbata_baja {
    width: 5.9rem;
    height: 5.9rem;
    transform: rotate(45deg);
    background-color: #f00200;
    border: 0.4rem solid black;
    position: absolute;
    left: 11.5rem;
    bottom: 0rem;
}